$black-color: #000;
$light-black-color: #414141;
$gray-color: #7f7f7f;
$light-gray-color: #bfbfbf;
$white-color: #fff;

$primary-color: #2cbd2f;
$dark-primary-color: #408d42;
$light-primary-color: #70e872;
$secondary-color: #f0f1f0;

$border-color-1: #dbdbdb;
